
<div class="p-2 text-center bg-gray-200 rounded space-y-4">
  <p class="pb-2 border-b border-indigo-500 mb-2">Sign in with</p>
  <div class="space-x-2">
    <%= twitter_omniauth_button_to() %>
  </div>
</div>
