<div class="p-2 space-y-4 divide-y bg-white border border-gray-200 rounded shadow">
  <%= content_tag(:h2, t('.sign_in_with'), class: 'text-center') %>
  <div class="flex justify-center pt-4 space-x-2">
    <%= twitter_omniauth_button_to() %>
    <%= github_omniauth_button_to() %>
  </div>
</div>
