<div class="welcome__blog row">
  <h3 class="text-center border-bottom">mizusirazu.net</h3>
  <div class="col-md-8">
    <article class="welcome__blog__post">
      <h2 class="welcome__blog__post__title">サンプルブログポスト</h2>
      <p class="welcome__blog__post__meta">2014/01/01 by <a href="#">太郎</a></p>

      <p>このブログポストは Bootstrap のスタイルを用いて作られた数種類の異なるタイプのコンテンツを含んでいます。基本のタイポグラフィ、画像、コードはすべてサポートされています。</p>
      <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも <a href="#">薄暗いじめじめした所</a>でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</p>
      <blockquote>
        <p>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ<strong>彼の掌に載せられてスーと持ち上げられた時</strong>何だかフワフワした感じがあったばかりである。</p>
      </blockquote>
      <p>掌の上で少し落ちついて書生の顔を見たのが<em>いわゆる人間というものの見始</em>であろう。この時妙なものだと思った感じが今でも残っている。</p>
      <h2>見出し</h2>
      <p>第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。どうも咽せぽくて実に弱った。これが人間の飲む煙草というものである事はようやくこの頃知った。</p>
      <h3>サブの見出し</h3>
      <pre><code>コードブロックの例</code></pre>
      <p>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
      <h3>サブの見出し</h3>
      <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>
      <ul>
        <li>この書生というのは時々我々を捕えて煮て食うという話である。</li>
        <li>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</li>
        <li>ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</li>
      </ul>
      <p>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。</p>
      <ol>
        <li>この時妙なものだと思った感じが今でも残っている。</li>
        <li>第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</li>
        <li>その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。</li>
      </ol>
      <p>のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。どうも咽せぽくて実に弱った。</p>
    </article><!-- /.blog-post -->

    <article class="welcome__blog__post">
      <h2 class="welcome__blog__post__title">別のブログポスト</h2>
      <p class="welcome__blog__post__meta">2013/12/23 by <a href="#">次郎</a></p>

      <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも <a href="#">薄暗いじめじめした所</a>でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</p>
      <blockquote>
        <p>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ<strong>彼の掌に載せられてスーと持ち上げられた時</strong>何だかフワフワした感じがあったばかりである。</p>
      </blockquote>
      <p>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。</p>
      <p>第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。どうも咽せぽくて実に弱った。これが人間の飲む煙草というものである事はようやくこの頃知った。</p>
    </article><!-- /.blog-post -->

    <article class="welcome__blog__post">
      <h2 class="welcome__blog__post__title">新しい特徴</h2>
      <p class="welcome__blog__post__meta">2013/12/14 by <a href="#">三郎</a></p>

      <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>
      <ul>
        <li>この書生というのは時々我々を捕えて煮て食うという話である。</li>
        <li>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</li>
        <li>ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</li>
      </ul>
      <p>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。</p>
    </article>


    <nav class="blog-pagination" aria-label="Pagination">
      <a class="btn btn-outline-primary" href="#">古い記事</a>
      <a class="btn btn-outline-secondary disabled" href="#">新しい記事</a>
    </nav>
  </div>
  <div class="col-md-4">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">ブログについて</h4>
    <p class="mb-0">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも<em>薄暗いじめじめした所で</em>ニャーニャー泣いていた事だけは記憶している。</p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">アーカイブ</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">2014/03</a></li>
      <li><a href="#">2014/02</a></li>
      <li><a href="#">2014/01</a></li>
      <li><a href="#">2013/12</a></li>
      <li><a href="#">2013/11</a></li>
      <li><a href="#">2013/10</a></li>
      <li><a href="#">2013/09</a></li>
      <li><a href="#">2013/08</a></li>
      <li><a href="#">2013/07</a></li>
      <li><a href="#">2013/06</a></li>
      <li><a href="#">2013/05</a></li>
      <li><a href="#">2013/04</a></li>
    </ol>
  </div>

  <div class="p-4">
    <h4 class="font-italic">SNS</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</div>

