<body class="welcome"></body>
<main class="container-fluid">
  <div class="welcome__headline radius">
    <h1>Mizusirazu</h1>
    <p class="lead">このサイトは、いろいろな機能を詰め込んだ渾身のサイトになっています。</p>
    <p class="lead">色々探索してみてください。</p>
  </div>

  <%= render 'content' %>

  <%= render 'blog' %>
</main>
