<% provide(:title, t('.title')) %>

<div class="block md:flex p-4 space-y-4 md:space-y-0 md:space-x-4">

  <%= render 'shared/settings_sidebar' %>

  <div class="md:basis-3/4 p-4 bg-amber-500 rounded shadow">
    <div class="text-left pl-4 pb-2 border-b border-gray-800 mb-4">
      <%= content_tag(:h1, yield(:title), class: 'text-xl') %>
    </div>
    <div class="text-sm">
      <%= render 'form' %>
    </div>
  </div>
</div>
