/* mixin */

@mixin pc {
  @media only screen and (min-width: $media-pc) {
    @content;
  }
}

@mixin sp {
  @media only screen and (max-width: $media-sp) {
    @content;
  }
}

/* Global  */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  background: $background-color;
  color: #000000;
}

i, em {
  font-style: italic;
}

a, button {
  color: $is-primary;
  text-decoration: none;
  transition-duration: 0.50s;
}

li {
  list-style-type: none;
}

p {
  line-height: 2rem;
}

pre {
  overflow: scroll;
  overflow: auto;
}

:focus {
  outline: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

-ms-input-placeholder {
  font-style: italic;
}

/* NES.css Settings */
@font-face {
  font-family: "misaki_gothic";
  src: url("/fonts/misaki_gothic.woff") format("woff"), url("/fonts/misaki_gothic.woff2") format("woff2");
}

@font-face {
  font-family: "nu-kinakomochi";
  src: url("/fonts/NuKinakoMochi-Reg.otf")
}

html, body, pre, code, kbd, samp {
  font-family: "nu-kinakomochi", "misaki_gothic";
}

.nes-container {
  background: $container-background-color; // default: color is white
}

.nes-container.with-title > .title {
  background-color: inherit;
}

.nes-container.member-card {
  display: flex;
  padding: 1rem 1.5rem;
  width: 470px;
  overflow: scroll;
}

.nes-container.is-centered > p {
  text-align: left;
}

.nes-container.with-title.is-centered > .title {
  display: revert;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nes-list.is-disc.is-dark li::before,
.nes-list.is-circle.is-dark li::before {
  color: white;
}
