.comment__form {
  padding-top: $spacer;

  @include sp {
    text-align: center;
  }
}

.comment__form-field {
  padding-top: $spacer;
}

.comment__form-textarea {
  max-width: 400px;
}

.comment__show > * {
  padding-bottom: $gap;
}

.comment-content {
  overflow-wrap: break-word;
}

div[class*="comment__list-item-"] {
  padding-top: $spacer;
}
