/* mixin */

@mixin pc {
  @media only screen and (min-width: $media-pc) {
    @content;
  }
}

@mixin sp {
  @media only screen and (max-width: $media-sp) {
    @content;
  }
}

/* header */

.header {
  height: 68px;
}

.l-wrap--header {
  @include pc {
    margin: 0 5%;
  }

  @include sp {
    position: relative;
    max-width: $media-sp;
  }
}

.header__logo-wrap {
  position: relative;
  float: left;
  z-index: 1;

  @include pc {
    position: absolute;
    top: 0;
    left: $spacer;
  }

  @include sp {
    padding-left: $spacer;
  }
}

.header__togglebtn {
  @include pc {
    display: none;
  }

  @include sp {
    float: right;
    margin: 2%;
    font-size: 12px;
  }
}

.header__nav-links-wrap {
  width: 100%;
}

.header__nav-links {
  @include pc { 
    float: right;
  }

  @include sp {
    display: none;
    margin: 1rem 0;
    padding: 16px;
    position: absolute;
    top: 84px;
    right: 12px;
    z-index: 2;
  }
}

.header__nav-link {
  text-transform: uppercase;
  @include pc {
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
    padding: 25px 0;
  }

  @include sp {
    display: block;
    line-height: 2rem;
  }
}

/* flash msg */
.flash {
  animation: leftToRight 25s;
  #notice {
    color: $is-success;
  }
  #alert {
    color: $is-error;
  }
}

/* main */
.home__heading {
  margin: 0 auto;
  padding-top: $spacer;
  position: relative;
  width: 90%;
  line-height: 1.2rem;
  text-align: center;
  z-index: 1;
}

.home__introduce {
  margin: 0 auto;
  padding-top: $spacer;
  position: relative;
  width: 90%;
  max-width: 800px;

  div {
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }
}

/* footer */
.footer {
  padding: 48px 0;
  position: relative;
  z-index: 2;
  width: 100%;
}

.overflow {
  overflow: auto;
}

.l-wrap--footer {
  margin: 0 auto;
  max-width: 940px;
  width: 90%;
  overflow: auto;
}

.footer__technology-links {
  box-sizing: border-box;
  float: right;

  @include pc {
    width: 20%;
    width: calc(240px);
  }

  @include sp {
    float: none;
  }
}

.footer__technology-link {
  display: table;
  line-height: 2rem;
}

.footer__about {
  padding-top: $spacer;
  box-sizing: border-box;
  float: left;

  @include pc {
    width: 70%;
    width: calc(100% - 300px);
  }

  @include sp {
    float: none;
  }
}

.footer__language_selector {
  padding-top: $spacer;
  text-align: center;
}

.footer__languages {
  padding-top: 8px;
}

.footer__language {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
}

.footer__copyright {
  width: 100%;
  padding-top: $spacer;
  text-align: center;
}

