/* header */

.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  margin-left: $spacer;
  margin-right: $spacer;
}

.header__logo-wrap {
  z-index: 1;
}

.header__togglebtn {
  @include pc {
    display: none;
  }

  @include sp {
    margin-top: 12px;
    font-size: 16px;
  }
}

.header__nav-links {
  @include sp {
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 2;
  }
}

.header__nav-link {
  text-transform: uppercase;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include pc {
    display: inline-block;
    padding-top: $spacer;
    margin-right: $gap;

    &:last-child {
      margin-right: 0;
    }
  }

  @include sp {
    display: block;
    line-height: 2rem;
  }
}

/* flash msg */
.flash {
  animation: leftToRight 25s;

  #notice {
    color: $is-success;
  }

  #alert {
    color: $is-error;
  }
}

/* footer */
.footer {
  padding-top: $spacer;
  margin: 0 auto;
  width: 90%;
  max-width: 940px;
  overflow: auto;
}

.footer__info {
  @include pc {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
}

.footer__info__technology-links a {
  display: table;
  line-height: 2rem;
}

.footer__info__about {
  padding-top: $spacer;
}

.footer__language_selector {
  padding-top: $spacer;
  text-align: center;
}

.footer__languages {
  padding-top: 8px;
}

.footer__language {
  display: inline-block;
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__copyright {
  width: 100%;
  padding-top: $spacer;
  text-align: center;
}

