.micropost__post {
  padding-top: $spacer;
  margin-left: $gap;
  margin-right: $gap;
}

.micropost__post-title {
  font-size: 24px;
}

.micropost__post-content {
  color: $is-disabled;
  margin-left: $spacer;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.micropost__post-link {
  margin-right: $gap;
  margin-bottom: $gap;
}

.micropost__show-wrap {
  padding-top: $spacer;
  margin-right: $gap;
  margin-left: $gap;
}

.micropost__show-title {
  padding-bottom: $spacer;
  margin-bottom: $spacer;
  border-bottom: 1px solid $is-disabled;
}

.micropost__show-content {
  word-break: break-all;
}

.micropost__show-info {
  font-size: 12px;
  font-style: italic;

  p:first-child {
    font-weight: bold;
  }
}
