/* user */
.users__index-headline {
  text-align: center;
}

.users__table {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacer;

  table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
  }
}

.user__show-wrap {
  padding-top: $spacer;
  margin-left: 12px;
  margin-right: 12px;
}

.user__show {
  overflow: scroll;
}

.user__show-avatar {
  padding-top: 8px;
}

.user__show-profile{
  padding-left: 1rem;
}

.user__show-links ul li {
  line-height: 2rem;
}

.registration__microposts-links {
  padding-top: $spacer;
}
