/* site color */
$background-color: radial-gradient(#A6E54F, #7CAD3A) fixed;
$container-background-color: #A6E54E;

/* nes color */
$is-primary: #209cee;
$is-success: white;  // default: #92cc41
$is-warning: #f7d51d;
$is-error: #e76e55;
$is-disabled: #a0a0a0;
$is-light: #ffffff;
$is-dark: #212529;
