/* sizing */
$media-pc: 1024px;
$media-sp: 1023px;

/* site color */
$background-color: radial-gradient(#A6E54F, #7CAD3A) fixed;
$container-background-color: #A6E54E;

/* nes color */
$is-primary: #209cee;
$is-success: white;  // default: #92cc41
$is-warning: #f7d51d;
$is-error: #e76e55;
$is-disabled: #d3d3d3;
$is-light: #ffffff;
$is-dark: #000000;

/* padding, margin */
$spacer: 28px;


