// page header
header {
  background-color: $is-dark;
  border-bottom: 1px solid $is-disabled;

  a {
    color: white;

    &:hover {
      color: $is-disabled;
    }
  }
}

/* flash msg */
.flash {
  animation: leftToRight 25s;

  #notice {
    color: $is-success;
  }

  #alert {
    color: $is-error;
  }
}

// form
.form-elem-mt-4 {
  input, textarea, button, label, .nes-field {
    margin-top: 1rem;
  }
}

.field_with_errors {
  input, textarea {
    background-color: $is-error;
  }
}

// comment toggle btn
#edit_comment-btn,
#delete_comment-btn {
  margin-top: 1rem;
}

// micropost new form
#new_micropost-form {
  > .nes-btn {
    display: table;
  }
}
