<body class="body--session"></body>

<div class="user__form">
  <!-- form -->
  <div class="nes-container is-rounded">
    <h1 class="title"><%= t('login_user') %></h1>
    <%= form_with(scope: resource_name, url: user_session_path, method: :post) do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
  <%= render "shared/links" %>
</div>
