version: "3.9"
services:
  db:
    image: mariadb
    ports:
      - 3306:3306
    volumes:
      - ./tmp/db/:/var/lib/mysql/
    environment:
      MYSQL_ROOT_PASSWORD: password
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails server -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/mizusirazu
    ports:
      - "3000:3000"
    depends_on:
      - db
    tty: true
    stdin_open: true
