<p>Hey <%= @user.email %>!</p>

<p>You have successfully signed up.</p>

<p>Please activate this account, just follow this link</p>

<p><%= activate_user_url(@user.activation_token) %></p>

<p>Thanks.</p>
