<p>Hey <%= @user.email %>!</p>

<p>You have requested to reset your password</p>

<p>To choose a new password, just follow this link</p>

<a><%= edit_password_reset_url(@user.reset_password_token) %></a>

<p>Thanks.</p>
