<div id="comments">
  <% if @micropost.comments.any? %>
    <%= render @micropost.comments %>
  <% end %>
</div>

<div class="py-4">
  <% if user_signed_in? %>
    <div class="nes-container with-title">
      <h1 class="title"><%= t('new_comment') %></h1>
      <%= form_with(
        model: [@micropost, current_user.comments.build],
        id: 'new_comment_form',
        class: 'inline-block form-elem-mt-4',
        method: :post,
        local: false) do |f| %>
        <%= render 'comments/form', f: f %>
      <% end %>
    </div>
  <% end %>
</div>
