<div class="md:basis-1/4 text-sm border border-gray-200 rounded shadow">
  <%= settings_link_to(edit_user_path(),         t('.account')) %>
  <%= settings_link_to(edit_user_profile_path(), t('.profile')) %>
</div>
