<div class="user__form-field nes-field">
  <%= object.text_field :email, class: 'user__form-input nes-input', placeholder: t('user.email') %>
</div>

<div class="user__form-field nes-field">
  <%= object.password_field :password, class: 'user__form-input nes-input', placeholder: t('user.password') %>
</div>

<div class="user__form-field nes-field">
  <%= object.password_field :password_confirmation, class: 'user__form-input nes-input', placeholder: t('user.password_confirmation') %>
</div>
