<% provide(:title, 'User List') %>

<h1 class="text-2xl text-center font-bold mt-4">User List</h1>

<div class="container mx-auto">
<div class="relative rounded-xl overflow-auto py-6 bg-gray-100 border border-gray-200 mt-4">
  <div class="shadow-sm overflow-scroll">
    <div class="table border-collapse table-auto w-full text-sm">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell border-b dark:border-gray-600 font-medium p-4 pl-8 pt-0 pb-3 text-gray-400 dark:text-gray-200 text-left">Avatar</div>
          <div class="table-cell border-b dark:border-gray-600 font-medium p-4 pl-8 pt-0 pb-3 text-gray-400 dark:text-gray-200 text-left">User</div>
          <div class="table-cell border-b dark:border-gray-600 font-medium p-4 pl-8 pt-0 pb-3 text-gray-400 dark:text-gray-200 text-left">Links</div>
        </div>
      </div>
      <div class="table-row-group bg-white dark:bg-gray-800">
        <%= render @users %>
      </div>
    </div>
  </div>
</div>
</div>
