<% provide(:title, 'Sign up') %>

<div class="w-full p-4">
  <div class="bg-gray-600 rounded p-2">
    <div class="p-4 bg-gray-400 border border-black rounded">
      <%= render 'form' %>
    </div>
  </div>
</div>
