<body class="body--user-show"></body>

<div class="user__show-wrap">
  <section class="user__show nes-container">
    <div class="user__show-avatar">
      <i class="nes-bcrikko"></i>
    </div>
    <div class="user__show-profile">
      <p><strong>Email:</strong><%= @user.email %></p>
      <p>Hello</p>
    </div>
  </section>

  <!-- links -->
  <div class="user__show-links">
    <ul class="nes-list is-circle">
      <li><%= link_to t('edit_user'), edit_user_path %></li>
      <li><%= link_to t('delete_user'), current_user, data: { confirm: "Are you sure?" }, method: :delete %></li>
    </ul>
  </div>
</div>
