<body class="body--registration"></body>

<div class="registration-wrap">
  <div class="registration">
    <section class="nes-container member-card">
      <div class="registration-avatar">
        <i class="nes-bcrikko"></i>
      </div>
      <div class="registration-profile">
        <p><strong>Email: </strong><%= @user.email %></p>
        <p><strong>Created at: </strong><%= @user.created_at %></p>
        <p><strong>Updated at: </strong><%= @user.updated_at %></p>
      </div>
    </section>

    <div class="registration-links">
      <ul class="nes-list is-circle">
        <li><%= link_to t('look_microposts'), user_microposts_path(@user) %></li> 
      </ul>
    </div>
  </div>
</div>
