<% provide(:title, t('.title')) %>
<% provide(:name_or_email, defined?(name_or_email) ? name_or_email : '') %>

<div class="max-w-md mx-auto p-4 space-y-4">
  <div class="p-4 bg-white border border-gray-200 rounded-xl shadow text-center">
    <div class="inline-block bg-amber-300 border border-amber-500 rounded-full shadow p-2">
      <%= site_logo(size: '100x100') %>
    </div>
    <%= content_tag(:h1, yield(:title), class: 'text-xl pb-4 border-b border-gray-200') %>
    <div class="text-sm">
      <%= render 'new_form' %>
    </div>
  </div>
  <%= render 'providers/links' %>
</div>
