<div class="text-center">
  <div class="inline-block text-left py-4 px-2 max-w-xl">
    <div class="nes-container is-rounded">
      <%= yield %>
    </div>
    <%= render "shared/devise_links" %>
  </div>
</div>
