<% if object.errors.any? %>
  <div id="error_explanation">
    <%= content_tag(:h2, "#{object.model_name} form contains #{object.errors.count} errors") %>

    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
