<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('errors.template.header.other', model: t("activerecord.models.#{object.model_name.name.downcase}"), count: object.errors.count) %></h2>
    <ul class="nes-list is-disc">
      <% object.errors.each do |error| %>
        <li class="nes-text is-error"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

