<%# required
  object: model
%>

<% if object.errors.any? %>
  <div id="error_explanation" class="text-rose-700">
    <%= content_tag(:h2, t('errors.template.header.other', model: object.model_name, count: object.errors.count)) %>

    <% object.errors.full_messages.each do |message| %>
      <%= content_tag(:p, "-> #{message}") %>
    <% end %>

    <br>
  </div>
<% end %>
