<div class="md:basis-1/4 text-sm bg-gray-200 border border-amber-500 rounded">
  <%= settings_link_to(edit_user_path(), t('.account')) %>
  <%= settings_link_to(edit_user_profile_path(), t('.profile')) %>
</div>
