<div class="block md:flex p-4 space-y-4 md:space-y-0 md:space-x-4">
  <div class="md:basis-1/4 text-sm text-gray-800 bg-gray-500 border border-gray-600 rounded">
    <%= settings_link_to(edit_user_path(), 'Account') %>
    <%= settings_link_to(edit_user_profile_path(), 'Profile') %>
  </div>
  <div class="md:basis-3/4 p-4 bg-gray-500 rounded shadow">
    <div class="text-left pl-4 pb-2 border-b border-gray-800 mb-4">
      <%= content_tag(:h1, yield(:title), class: 'text-xl text-gray-900') %>
    </div>
    <div class="text-sm">
      <%= yield %>
    </div>
  </div>
</div>
