<body class="body--index"></body>

<h1 class="text-center text-2xl pt-4">Mizusirazu.Net</h1>

<h2 class="text-center text-xl pt-4"><%= t('introduction') %></h2>

<div class="py-4 px-2">
  <div class="nes-container is-rounded">
    <p>こんにちは。みんな！ </p>
    <p>「Mizusirazu.net」にようこそ！</p>
    <p>このサイトの管理人の「shinzanmono」です。</p>
    <p>このサイトでは、ユーザをとうろくしたり(devise)、そのとうろくしたユーザであそぶことができます！（まだ、とちゅうですが(´·ω·`)ｼｮﾎﾞｰﾝ）</p>
    <p>あと、このサイトのcssには、<a href="https://nostalgic-css.github.io/NES.css/">NES.css</a>をつかっています。</p>
    <p>あとフォントは<a href="https://littlelimit.net/misaki.htm">美咲フォント</a>をつかっています。</p>
    <p>この二つをくみあわせるとむかしのゲームのような見た目になります！</p>
    <br>
    <p>あとはわたしじしんのことをかきます。</p>
    <p>しゅみは、プログラミング、おんがく、えいがです。</p>
    <p>プログラミングは「C,Ruby,JavaScript」がとくいです。</p>
    <p>おんがくは、あたらしいものからふるいものまで、オールジャンルでききます。(ﾟ∀ﾟ )</p>
    <p>えいがも、あたらしいものからふるいものまで！(ﾟ∀ﾟ )</p>
    <br>
    <p>そんなところです。こんごはこのサイトをどんどん大きくしていって、「こうこく」とかも入れて、しゅうえきをえられるようにしたいなとおもっています。</p>
    <br>
    <p>では、さようなら！ ε＝『(·ω·)』</p>
  </div>
</div>
