<body class="body--index"></body>

<h1 class="home__heading">Mizusirazu.Net</h1>
<div class="home__introduce">
  <h2><%= t('introduction') %></h2>
  <div class="nes-container is-rounded">
    <p>こんにちは。サイト主の「shinzanmono」です。</p>
    <p>このサイトでは、ユーザをとうろくしたり、そのとうろくしたユーザであそぶことができる予定です！（まだ、できてないけどね(´·ω·`)ｼｮﾎﾞｰﾝ）</p>
    <p>そうそう！これを見ている人は気になってると思うんだけど、このサイトでは、<a href="https://nostalgic-css.github.io/NES.css/">NES.css</a>を使ってるんだよね。</p>
    <p>なかなかイイよね(ﾟ∀三ﾟ三∀ﾟ) ｳﾎｰ!</p>
    <p>あとフォントは<a href="http://kokagem.sakura.ne.jp/font/mochi/">Nu-きなこもち</a>をつかってるよ</p>
    <p>このドットかんというかなんというか...なつかしさというものをかんじるんだよね！</p>
    <br>
    <p>あとはそうだな〜。おれはふだんプログラムを書いたりするのが好きだよ！</p>
    <p>あと、おんがくとかアニメとか、というか「えいぞうさくひん」だな！</p>
    <p>ゲームもたまにするよ！今は「Gran tu risumo sports」をやってるよ。ドットかんけいないけど(ﾟ∀ﾟ )</p>
    <p>YouTubeでゲーム実況してるのとかもみるな〜。「どれ見てるの？」とかは言わないけど(ﾟ∀ﾟ ) </p>
    <br>
    <p>そんなところかな〜。じゃあ、このサイトをどんどん大きくしていって、「こうこく」とかも入れて、そのしゅうにゅうでやきにくくいたいな〜</p>
    <br>
    <p>... じゃあね！ ε＝『(·ω·)』</p>
  </div>
</div>

