@font-face {
  font-family: "misaki_gothic";
  src: url("/fonts/misaki_gothic.woff") format("woff"), url("/fonts/misaki_gothic.woff2") format("woff2");
}

@font-face {
  font-family: "nu-kinakomochi";
  src: url("/fonts/NuKinakoMochi-Reg.otf")
}

html, body, pre, code, kbd, samp {
  font-family: "nu-kinakomochi", "misaki_gothic";
}
