<% provide(:title, t('.title')) %>
<% provide(:description, t('.description')) %>

<div class="mt-4 px-4 text-sm">
  <div class="bg-white border border-gray-200 p-4 rounded shadow">
    <%= content_tag(:h1, yield(:title), class: 'text-center text-xl pb-4 border-b border-gray-600 mb-4') %>
    <div class="block md:flex md:divide-x divide-gray-600">
      <div class="basis-1/4 p-4 text-gray-600">
        <%= content_tag(:p, yield(:description), class: 'text-center md:text-left') %>
      </div>
      <div class="basis-3/4 p-4">
        <div class="p-4 bg-gray-200 border border-gray-600 rounded shadow">
          <%= render 'new_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
