@import "~bootstrap/scss/bootstrap";

$site-color:   $teal-300;
$header-color: $gray-900;
$footer-color: $gray-900;

@font-face {
  font-family: "maru-gosic";
  src: url('./Corporate-Logo-Rounded.ttf') format('truetype');
}

body {
  background-color: $teal-300;
}

.site__header {
  background-color: $header-color;
  #toggler > * {
    padding: 0 1rem;
  }
}

.site__header__list {
  margin-right: auto !important;
}

.notification {
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  &__alert {
    background-color: $danger;
  }
  &__notice {
    background-color: $info;
  }
}

.welcome__headline {
  background-color: $header-color;
  color: white;
  border-radius: 1rem !important;
  padding: 3rem;
  margin: 1rem 0;
  h1 {
    font-size: 3rem;
  }
}

.welcome__list {
  margin: 1rem 0;
}

.welcome__content {
  background: white;
  max-width: 550px;
  border: 1px solid gray !important;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
  border-radius: 0.40rem 0.40rem 1rem 1rem;
}

.welcome__image {
  width: 100%;
  height: 200px;
}

.welcome__textarea {
  padding: 0.5rem;
}

.welcome__blog {
  h3 {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

.welcome__blog__post {
  font-family: "maru-gosic";
  background: white;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 1rem 0;
}

.welcome__blog__post__title {
  color: red;
}

.login {
  &__form {
    max-width: 400px;
  }

  &__headline {
    padding: 1rem;
  }

  .new_user, &__links {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    input {
      margin-bottom: 1rem;
      &[type=text], &[type=email], &[type=password] {
        min-width: 200px;
      }
    }
  }
}

.user__page {
  & > * {
    margin: 1rem 0;
  }
  &__avatar {
    background-color: white;
    text-align: center;
    & > * {
      padding: 1rem;
    }
    &--img img {
      border-radius: 50% !important;
    }
  }
  &__content {
    background-color: white;
  }
}

.debug_dump {
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
}
