@import '~bootstrap/scss/bootstrap';

@mixin radius {
  border: 1px solid;
  border-radius: 1rem;
  padding: 12px;
}

.bg-header {
  background-color: $gray-900;
  color: white;
}

.bg-footer {
  background-color: $gray-400;
}

// welcome
.bg-video {
  width: 100%;
}

// form
.form-header {
  text-align: center;
}

// remove header and footer
.signup, .login, .confirmation, .password-reset, .unlock {
  background-image: url("../images/jpg/pixabay-TheDigitalArtist-network.jpg");
  .page-header, .page-footer {
    display: none;
  }
}

.form-control {
  border: none;
  background-color: white;
  &:focus {
    border: 1px solid green;
  }
}

.form-links, .form-authorize {
  ul {
    list-style: none;
  }
}

// notification

#error_explanation {
  @include radius;

  h2 {
    font-size: 1.2rem;
  }

  ul {
    list-style: none;

    li {
      color: $danger;
    }
  }
}

#notifications {
  @include radius;
  width: 400px;

  .notice, .alert {
    margin: 0;
    padding: 0;
  }
  .notice {
    color: $success;
  }
  .alert {
    color: $danger;
  }
}

footer {
  .list-group-item {
    background-color: $gray-400;
  }
}

// games
.games {

  .game {
    font: 14px "Century Gothic", Futura, sans-serif;
    min-width: 320px;

    > * {
      margin-bottom: 1rem;
    }
  }

  .page-header, .page-footer {
    display: none;
  }

  .title {
    font-size: 3rem;
    color: $red-500;
    font-weight: bold;
  }

  .square {
    background: white;
    border: 3px solid $red-700;
    margin: 0 0 -3px -3px;
    font-size: 3rem;
    color: $gray-800;
    font-weight: bold;
    text-align: center;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
  }

  .game-info {
    font-size: 1.2rem;

    ol {
      list-style: none;
      padding-left: 0;

      li button {
        border: none;
        background: white;
        text-decoration: underline;
        line-height: 3rem;

        &:hover {
          color: $red-500;
        }
      }
    }
  }
}


// debug
.debug_dump {
  background: $cyan-200;
  padding: 12px;
  margin: 12px 0;
  border-radius: 12px;
  display: block;
}
