@import '~bootstrap/scss/bootstrap';

@mixin radius {
  border-radius: 1rem;
  padding: 12px;
}
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  tr {
    td {
      padding: 0;
    }
  }
}

.y-margin {
  height: 15px;
}

.x-margin {
  width: 15px;
}

.align-center {
  text-align: center;
}

.bg {
  background-color: $gray-200;
  max-width: 640px;
}

.frame {
  @include radius;
  background-color: white;
  max-width: 420px;
}

.main {
}

.email-button {
  background-color: $cyan-500;
}
