<body class="body--password"></body>

<h1 class="text-xl font-bold"><%= t('change_password') %></h1>

<%= form_with(scope: resource_name, url: password_path(resource_name), class: 'form-elem-mt-4', method: :post) do |f| %>
  <%= render 'shared/error_messages', object: resource %>

  <%= render 'form', f: f %>
<% end %>
