<div class="form-field">
  <%= f.email_field :email,
    class: 'form-input nes-input',
    placeholder: t('email'),
    autofocus: true,
    autocomplete: "email",
    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
  %>
</div>

<div class="form-field">
  <%= f.button t('activate'), class: 'nes-btn is-primary' %>
</div>
