<div id="preview_micropost" class="hidden sm:block sm:flex-1 sm:px-2">
  <div class="nes-container with-title is-rounded">
    <%= content_tag(:h1, t('preview'), class: 'title') %>
    <div>
      <div id="preview_micropost-title" class="break-all pb-4 border-b border-solid mb-4"></div>
      <div id="preview_micropost-content" class="break-all"></div>
    </div>
  </div>
</div>

