<body class="body--micropost"></body>

<div class="micropost__index">
  <% if @microposts.any? %>
    <%= render @microposts %>
    <%= will_paginate %>
  <% else %>
    <div class="micropost__nothing">
      <div class="nes-container">
        <h1>Micropost nothing</h1>
        <p>oh my god...</p>
      </div>
    </div>
  <% end %>
</div>
