<body class="body--micropost"></body>

<div class="p-4 text-sm">
  <% if @microposts.any? %>
    <h1 class="text-center text-xl"><%= t('micropost_list') %></h1>

    <div class="grid grid-cols-1 lg:grid-cols-2">
      <%= render @microposts %>
    </div>

    <%= will_paginate %>
  <% else %>
    <div class="nes-container">
      <h1>Micropost nothing</h1>
      <p>oh my god...</p>
    </div>
  <% end %>
</div>
