@tailwind base;
@tailwind components;
@tailwind utilities;

a, button, input[type="submit"] {
  @apply duration-300 hover:no-underline;
}

/* Disable the background color when input auto complate */
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

/* flash messages */
#notice {
  @apply text-emerald-300 text-sm bg-emerald-700;
}

#notice > button {
  @apply text-emerald-400 hover:text-emerald-500;
}

#alert {
  @apply text-rose-300 text-sm bg-rose-700;
}

#alert > button {
  @apply text-rose-400 hover:text-rose-500;
}

/* user error form */
.field_with_errors input {
  @apply border border-red-500;
}

/* arrow-top ▲ */
.arrow-top::before {
  content: "";
  clip-path: polygon(0% 100%, 50% 0, 100% 100%);
  width: 24px;
  height: 12px;
  transform: translate(0, -100%);
  @apply absolute top-0 left-3/4 bg-lime-500;
}

.arrow-top::after {
  content: "";
  clip-path: polygon(0% 100%, 50% 0, 100% 100%);
  width: 24px;
  height: 12px;
  transform: translate(0, -100%);
  @apply absolute top-0 left-3/4 bg-lime-500;
}

@media (min-width: 1024px) {
  .lg\:signup-bg-img {
    background-image: url('signup.png');
    background-position: left;
    background-repeat: no-repeat;
  }
}
