<% flash.each do |name, msg| %>
  <%= content_tag(:div, id: name, class: 'w-full p-2 flex items-center', 'data-application-target': 'flashMessages') do %>
    <button type="button" data-action="click->application#flash_messages_close">
      <span class="sr-only">Close panel</span>
      <%= render 'modules/x' %>
    </button>
    <span class="mt-0.5 pl-2"><%= msg %></span>
  <% end %>
<% end %>
