<% flash.each do |name, msg| %>
  <%= content_tag(:div, id: name, class: 'w-full p-2 flex items-center', 'data-application-target': 'flashMessages') do %>
    <button type="button" data-action="click->application#flash_messages_close">
      <span class="sr-only">Close panel</span>
      <!-- Heroicon name: outline/x -->
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <span class="mt-0.5 pl-2"><%= msg %></span>
  <% end %>
<% end %>
