<div class="w-full bg-gray-500 text-white border-y border-gray-400 p-4">
  <div class="bg-gray-600 rounded border-2 border-gray-800">
    <h1 class="text-lg text-center py-2">Technologys</h1>
    <div class="p-4 text-sm">
      <%= footer_technology_link_to('Ruby on Rails', 'https://rubyonrails.org/') %>
      <%= footer_technology_link_to('Tailwindcss', 'https://tailwindcss.com/') %>
      <%= footer_technology_link_to('Wall Haven', 'https://wallhaven.cc/') %>
    </div>
  </div>

  <div class="mt-2">
    <p class="text-center text-gray-800">copyright 2022 shinzanmono.</p>
  </div>
</div>
