<tr>
  <td class="x-margin"></td>
  <td class="align-center">
    <table>
      <tr>
        <td class="align-center">Mizusirazu.net</td>
      </tr>
    </table>
  </td>
  <td class="x-margin"></td>
</tr>
